// screens
$screenXXL: 2048px;
$screenXL: 1920px;
$screenL: 1280px;
$screenM: 991px;
$screenS: 767px;
$screenXS: 529px;
$screenXXS: 319px;

// fonts
$primary-font: 'CirceRounded Regular';

// colors
$color-black: #11223e;
$color-white: #fff;
